@{
    ViewData["Title"] = "Privacy Policy";
    //pristupamo i dodajemo sesiju
    Context.Session.SetString("privacyString", "Hej, netko je bio na tranici za Privacy");
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
