@*

1. uvjet - korisnik mora bitii prijavljen
2. uvjet - prijavljen korisnik mora imati ulogu admina

*@

@using Microsoft.AspNetCore.Identity
@using DemoWebshop.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*ako je korisnik prijavljen(true) i ako nas korisnik ima u svojoj ulozi admin u tom slucaju objekt klase ce vratiti tu vrijdnsot*@
@if (
  SignInManager.IsSignedIn(User) &&
  await UserManager.IsInRoleAsync(
      UserManager.GetUserAsync(User).Result,
      "admin"
  )
)
{
    <div class="dropdown">
        <a class="btn nav-link dropdown-toggle" id="dropdownAdmin" data-bs-toggle="dropdown">
            Admin
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" type="button" asp-area="admin" asp-controller="categories" asp-action="index">Categories</a>
            </li>
            <li>
                <a class="dropdown-item" type="button" asp-area="admin" asp-controller="products" asp-action="index">Products</a>
            </li>

        </ul>
    </div>
}